 
  /*--------------------------------------------------------------
  # About --> es el bloque main de sobremi
  --------------------------------------------------------------*/
  .about .content {
    h3 {
  font-weight: 700;
  font-size: 26px;
  color: $grisOscuro;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
          padding-bottom: 10px;
        }
        i {
          font-size: 20px;
          padding-right: 2px;
          color: $rosa;
        }
      
      }
      p:last-child {
          margin-bottom: 0;
        }
        

}

/*USANDO MAPS*/
$pato: ( /*Declaramos nuestro mapa*/
        1: #1c0d02,
        2:  #4b3621,
        3: #a18594,
        4:#572364,
        5:#123d3d ,
        6:#3e6666,
        7:#3b3f3f,
        8: #0d0e0e,
); 

@each $pato, $color in $pato {
  #patologia#{$pato} {
      color: $color;
  }
}




