/*--------------------------------------------------------------
  # Contact --> el main de pedi tu turno --> bloque principal. 
  --------------------------------------------------------------*/
  
  .contact {
  
    .info {
    width: 100%;
    background: #fff;

          i {
            font-size: 20px;
            color: $rosa;
            float: left;
            width: 44px;
            height: 44px;
            background: #effbf9;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
            transition: all 0.3s ease-in-out;
          }
          h4 {
            padding: 0 0 0 60px;
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 5px;
            color: $grisOscuro;
          }

          p {
            padding: 0 0 0 60px;
            margin-bottom: 0;
            font-size: 14px;
            color: $grisOscuro;
          }

          .email, .phone {
            margin-top: 40px;
          }

          .email {
            &:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
              background: $rosa;
              color: white;
          }}

          
        }

    .php-email-form {
      width: 100%;
      background: white;
            .form-group {
              padding-bottom: 8px;
            }
            .validate {
              display: none;
              color: $errorColor;
              margin: 0 0 15px 0;
              font-weight: 400;
              font-size: 13px;
            }
            .error-message {
              display: none;
              color: white;
              background: $errorColor;
              text-align: center;
              padding: 15px;
              font-weight: 600;
            }
            .loading {
              display: none;
              background: white;
              text-align: center;
              padding: 15px;
            }
            input, textarea {
              border-radius: 4px;
              box-shadow: none;
              font-size: 14px;
            }
            input:focus, textarea:focus {
              border-color: $rosa;
            }
            input {
              height: 44px;
            }
            textarea {
              padding: 10px 12px;
            }
            button[type="action"] {
              background: $rosaClarito;
              border: 0;
              padding: 10px 30px 12px 30px;
              color: $grisOscuro;
              font-weight: 700;
              transition: 0.4s;
              border-radius: 50px;
              border-style: solid;
              border-color:$grisOscuro;
              border-width: 1px;
            }
            button[type="action"]:hover {
              background: $rosa;
            }
  }
  .form-row #horariosDePreferencia {
    background-color: $rosaClarito;
    padding:2px;
  }

}

  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }}
